= wrap_layout :application do
  %header.cover
    %h1.cover-title= data.book.title.main
    - unless data.book.title.subtitle.nil?
      %h2.cover-subtitle= data.book.title.subtitle
    %h3.cover-author= data.book.author_as_it_appears[0]
  %article.page
    %main.page-content
      = yield
  .cover-colophon
    .cover-colophon-inner
      .colophon-text
        :markdown
          Published by the Getty Research Institute, Los Angeles <br />
          © 2016 J. Paul Getty Trust
        = link_to "About", "/about.html"
        %span &#124;
        = link_to "Privacy Policy", "http://www.getty.edu/legal/privacy.html", :target => "blank"
        %span &#124;
        = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", :target => "blank"
      .colophon-logo
        = tag :img, :src => image_path("getty_logo.svg"), :alt => "Getty Logo"
