= wrap_layout :application do
  %header.cover
    %h1.cover-title= data.book.title.main
    - unless data.book.title.subtitle.nil?
      %h2.cover-subtitle= data.book.title.subtitle
    %h3.cover-author= data.book.author_as_it_appears[0]
  %article.page
    %main.page-content
      = yield
