!!! XML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:epub" => "http://www.idpf.org/2007/ops"}
  %head
    %title= current_page.data.title
    = tag :link, :href => "assets/stylesheets/epub.css", :rel => "stylesheet"
  %body
    %header
      %h2.title= current_page.data.title
      - if current_page.data.author
        %h3.author #{current_page.data.author.first.first_name} #{current_page.data.author.first.last_name}
      - if current_page.data.secondary_author
        %h4.secondary-author= current_page.data.secondary_author
    %article
      = yield
