= wrap_layout :application do
  %header.page-cover
    %h1.page-title= current_page.data.title
    - if current_page.data.author
      %h2.page-author= current_page.data.author
    - if current_page.data.secondary_author
      %h3.page-secondary-author= current_page.data.secondary_author
  %article.page
    %main.page-content
      = yield
