.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5 Cite this Page
  .expander-content.nav-cite
    - if citation_author[-1] == "."
      %h6 Chicago
      %p  #{citation_author} “#{current_page.data.title}.” #{book_info_chicago}
      %h6 MLA
      %p  #{citation_author} “#{current_page.data.title}.” #{book_info_mla}
    - else
      %h6 Chicago
      %p  #{citation_author}. “#{current_page.data.title}.” #{book_info_chicago}
      %h6 MLA
      %p  #{citation_author}. “#{current_page.data.title}.” #{book_info_mla}
    = link_to "Full Catalogue Citation", "/about.html#citation-information"
