.nav-sidebar-inner
  %header.nav-sidebar-header.nav-sidebar-toc-section
    %h2.nav-sidebar-title= title
    %h3.nav-sidebar-author= data.book.author_as_it_appears[0]
    %a.nav-sidebar-close{:href => "javascript:void(0)", :id => "nav-menu-close"}
      %i.ion-android-close
    %nav-sidebar-content
      %ul.nav-sidebar-toc
        - chapters.each do |chapter|
          - if chapter.data.sidebar != false
            %li= link_to chapter.title, chapter
  .nav-sidebar-downloads
    = partial "partials/formats"
  %footer.nav-sidebar-footer
    %p
      #{data.book.rights}
      %br
      Published by the #{data.book.imprint}, #{data.book.publisher_location}
    = link_to "About", "/about.html"
    %span &#124;
    = link_to "Privacy", "http://www.getty.edu/legal/privacy.html", { target: "blank" }
    %span &#124;
    = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", { target: "blank" }
    .nav-logo
      = tag :img,
        src: image_path("getty_logo.svg"), class: "nav-logo", alt: "Getty Logo"
